---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/advantages
  include ./home/gallery
  include ./home/shop
  include ./home/partners
  include ./home/about