@font-face {
  font-family: 'GillSans';
  src: url('../../fonts/GillSans.woff2') format('woff2'),
  url('../../fonts/GillSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../../fonts/GillSans-Bold.woff2') format('woff2'),
  url('../../fonts/GillSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

