header.header
    .container
        .logo
            a(href="#intro")
                img(src="img/logo.png", alt="logo")
        nav(class="nav-links")
            a(href="#intro") Aleksa Gold
            a(href="#shop" class="nav-link") Продукция
            a(href="#partners" class="nav-link") Партнерская программа
            a(href="#about" class="nav-link") Философия бренда
            a(href="#footer" class="nav-link") Контакты
            a(href="#pop-up" rel="modal:open")
                +icon("basket")
            button(class="menu-toggle")
                span
                span
                span
.menu-bg
.menu
    a(href="#" class="btn-close")
        +icon("close")
    a(href="#intro") Aleksa Gold
    a(href="#shop") Продукция
    a(href="#partners") Партнерская программа
    a(href="#about") Философия бренда
    a(href="#footer") Контакты
    a(href="#pop-up" rel="modal:open" id="pop-up-btn")
        +icon("basket")