header.header
    .container
        .logo
            a(href="#intro")
                img(src="img/logo.svg", alt="logo")
        nav(class="nav-links")
            a(href="#intro") Aleksa Gold
            a(href="#shop") Продукция
            a(href="#partners") Партнерская программа
            a(href="#about") Философия бренда
            a(href="#footer") Контакты
            a(href="#pop-up" rel="modal:open")
                span.basket 0
                +icon("basket")
            button(class="menu-toggle")
                span
                span
                span
.menu-bg
.menu
    a(href="" class="btn-close")
        +icon("close")
    ul
        li
            a(href="#intro" class="menu__link") Aleksa Gold
        li 
            a(href="#shop" class="menu__link") Продукция
        li 
            a(href="#partners" class="menu__link") Партнерская программа
        li 
            a(href="#about" class="menu__link") Философия бренда
        li 
            a(href="#footer" class="menu__link") Контакты
        li 
            a(href="#pop-up" rel="modal:open" class="menu__link")
                span.basket 0
                +icon("basket")