.home-advantages
  // min-height: 650px
  padding: 40px 0
  position: relative
  overflow: hidden
  &__text
    max-width: 280px
    padding-top: 230px
  .btn-next__container
    position: absolute
    bottom: 20px
    right: 200px
    text-align: center
    p
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.35em
      text-transform: uppercase
      color: #73581B
    .icon-arrow
      fill: #73581B
  .swiper-container-advantages
    position: absolute
    right: -50px
    top: 100px
    width: 860px
    +r(1200)
      width: 600px
    +r(991)
      width: 450px
    +r(767)
      width: 100%
      position: static
  .swiper-slide
    .home-advantages__slide
      width: 283px
      transform: scale(0.68)
      transition: all 0.8s
      +r(767)
        transform: scale(1)
        width: 100%
  .swiper-slide-active
    z-index: 3 !important
    .home-advantages__slide
      transform: scale(1)
      position: relative
      left: -23px
      +r(1200)
        left: -15px
      h3, p
        opacity: 1
      svg
        top: 0
  &__slide
    position: relative
    text-align: center
    background: #2C2C2C
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.38)
    border-radius: 10px
    padding-bottom: 40px
    padding-top: 55px
    svg
      width: 73px
      height: 67px
      fill: #CBA550
      position: relative
      top: 80px
      transition: all 0.8s
    h3
      font-weight: bold
      font-size: 18px
      line-height: 21px
      color: #FFFFFF
      margin: 76px auto 10px
      padding: 0 25px
      transition: all 0.6s
      opacity: 0
    p
      font-size: 18px
      line-height: 87.27%
      color: #9F9F9F
      padding: 0 25px
      transition: all 0.6s
      opacity: 0