.home-advantages
  position: relative
  overflow: hidden
  &__content
    height: 100%
    position: relative
    padding: 40px 0 70px
    &:before
      content: ''
      +line
      height: calc(100% - 180px)
      bottom: 0
      top: auto
      left: 0
    &:after
      content: ''
      +line
      height: 50%
      bottom: 0
      top: auto
      left: 280px
    .decor-1, .decor-2
      +line
      left: 55%
      bottom: 0
      height: 50%
    .decor-2
      left: calc(55% + 280px)
  &__content-bottom
    position: relative
    +r(767)
      padding-top: 170px
    a.btn-secondary
      margin-top: -80px
      position: absolute
      z-index: 1
      +r(767)
        left: 50%
        transform: translate(-50%, 0)
        margin-top: 10px
        position: absolute
        bottom: 60px
    &:before
      content: ''
      +line
      height: 100%
      bottom: 0
      top: auto
    &:after
      content: ''
      +line
      height:  100%
      bottom: 0
      top: auto
      left: 280px
  &__text
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 450px
    max-width: 280px
    +r(767)
      min-height: auto
      max-width: 100%
    h2
      margin-bottom: 70px
  .btn-next__container
    position: absolute
    bottom: 0
    right: 70px
    text-align: center
    +r(767)
      right: 50%
      transform: translate(50%,0)
    +r(450)
      width: 100%
    p
      font-size: 10px
      line-height: 14px
      letter-spacing: 0.35em
      text-transform: uppercase
      color: #73581B
    .icon-arrow
      fill: #73581B
      width: 12px
    a
      display: block
  .btn-secondary
    margin: 30px 0
    width: 280px
    +r(767)
      margin: 30px auto
     
  .swiper-container-advantages
    position: absolute
    right: -50px
    top: calc(50% - 20px)
    transform: translate(0, -50%)
    width: 860px
    +r(1200)
      width: 600px
    +r(991)
      width: 450px
    +r(767)
      width: 100%
      position: static
      padding-bottom: 50px
      transform: none
    +r(550)
      width: 285px

  .swiper-slide
    .home-advantages__slide
      width: 283px
      transform: scale(0.68)
      transition: all 0.8s
      position: relative
      left: 0
      min-height: 270px
      +r(767)
        transform: scale(1)
        width: 100%
  .swiper-slide-active
    z-index: 3 !important
    .home-advantages__slide
      transform: scale(1)
      left: -22px
      +r(1200)
        left: -17px
      +r(991)
        left: -10px
      +r(767)
        left: 0
      h3, p
        opacity: 1
      img
        top: 0
        opacity: 1
  &__slide
    position: relative
    text-align: center
    background: #2C2C2C
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.38)
    border-radius: 10px
    padding-bottom: 40px
    +r(767)
      box-shadow: none
      //padding-top: 25px
      //padding-bottom: 25px
    padding-top: 55px
    img
      width: 73px
      height: 67px
      position: relative
      top: 80px
      transition: all 0.8s
      opacity: 0.4
    h3
      font-weight: bold
      font-size: 18px
      line-height: 21px
      color: #FFFFFF
      margin: 76px auto 10px
      +r(767)
        margin: 30px auto 10px
      padding: 0 25px
      transition: all 0.6s
      opacity: 0
    p
      font-size: 18px
      line-height: 89%
      color: #9F9F9F
      padding: 0 25px
      transition: all 0.6s
      opacity: 0
  .swiper-container-horizontal>.swiper-pagination-bullets
    +rmin(1200)
      left: -8%
    left: 25%
    +r(767)
      left: 0
  .swiper-pagination-bullet
    margin-right: 15px !important
    background: #C4C4C4
    opacity: 1
  .swiper-pagination-bullet-active
    background: #CBA550
