.home-intro
  background: radial-gradient(81.46% 682.66% at 81.46% 53.93%, #6D6D6D 0%, #343434 46.43%)
  min-height: 700px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  &__content
    z-index: 3
    position: relative
    //+r(767)
    //  background-color: rgba(0, 0, 0, 0.4)
    //  width: 100%
    //  height: 100%
    //  padding: 20px
    //  margin: 0
  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    right: 130px
    width: 300px
    +r(1199)
      right: 30px
      width: 200px
    min-height: 700px
    background-color: #141417
    z-index: 0
  &:before
    content: ""
    display: block
    position: absolute
    right: 190px
    +r(1199)
      right: 40px
    +r(920)
      right: 20px
      top: 280px
      width: 300px
      height: 300px
    top: 188px
    border-radius: 50%
    width: 447px
    height: 447px
    background: #CBA550
    z-index: 1
  & img
    position: absolute
    top: 90px
    right: 200px
    z-index: 2
    +r(1199)
      right: 50px
    +r(920)
      right: 20px
      width: 350px
      top: 185px
  h1
    color: $white
    font-size: 60px
    line-height: 69px
    padding-top: 170px
    margin: 20px 0
    +r(450)
      text-align: center
  h2
    color: $white
    max-width: 373px
    font-size: 40px
    line-height: 35px
    margin: 20px 0 79px
    +r(450)
      text-align: center
a.btn-primary
  display: flex
  align-items: center
  justify-content: center
  width: 279px
  height: 79px
  color: $white
  font-size: 25px
  line-height: 29px
  text-align: center
  background: #CBA550
  +r(767)
    border: 1px solid  #967740
  +r(450)
    width: 100%
  &:hover
    background: #967740
.btn-next 
  text-align: center
  & a
    cursor: pointer
    &:hover
      color: #CBA550
  & p
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.35em
    text-transform: uppercase
    color: $white
    margin-top: 50px
  & .icon-arrow
    fill: $white