.home-partners
  min-height: 530px
  margin-top: 60px
  position: relative
  & .heading-container
    width: 260px
  & .text-container
    margin-top: 260px
    +r(1199)
      width: 200px
  & .form
    width: 515px
    +r(1199)
      width: 450px
    height: 515px
  .logo-container
    position: absolute
    bottom: 40px
    right: 13%
    +r(1500)
      right: 9%
    +r(1199)
      right: 0
    width: 348px
    z-index: 0
    & p
      font-weight: bold
      font-size: 100.896px
      line-height: 81.27%
      letter-spacing: -0.035em
      color: #333333