.home-shop
  position: relative
  .product-card
    margin-top: 80px
    position: relative
    display: flex
    height: calc(100% - 80px)
    background-color: #2D2D2D
    border-radius: 10px
    width: 100%
    padding-bottom: 15px
    padding-right: 15px
    +tr
    &.is-active
      opacity: 0.3
    img
      position: absolute
      display: flex
      top: 50%
      left: -25px
      max-width: 145px
      width: 100%
      transform: translate(-10%, -50%)
    .product-description
      display: flex
      flex-direction: column
      justify-content: space-between
      padding-left: 100px
      width: 100%
      h3
        padding: 15px 0 10px
        font-weight: bold
        font-size: 20px
        display: flex
        align-items: center
        letter-spacing: -0.01em
        color: #CBA550
      p
        text-align: left
        padding-right: 15px
        line-height: 95%
      .card-bottom
        display: inline-flex
        padding-top: 10px
      a.btn-product
        display: flex
        justify-content: center
        align-items: center
        width: 140px
        white-space: nowrap
        +r(1200)
          width: auto
          padding: 15px
        +r(360)
          width: 100%
          font-size: 13px
        height: 40px
        color: $white
        background-color: #CBA550
        &:hover
          background-color: #876d36
      .icon-basket
        fill: $white
        margin-left: 5px
      span
        white-space: nowrap
        font-weight: bold
        font-size: 20px
        +r(370)
          font-size: 16px
          letter-spacing: 0
          padding-left: 5px
        display: flex
        align-items: center
        letter-spacing: -0.01em
        color: #CBA550
        padding-left: 15px
        div
          padding-right: 5px
  .order
    display: block
    text-align: center
    margin-top: 60px
    p
      font-weight: bold
      font-size: 12px
      line-height: 14px
      text-align: center
      color: #CBA550
    span
      font-size: 18px
      padding: 0 5px
    .btn-secondary
      margin: 0 auto
