.header
  position: absolute
  top: 0
  left: 0
  align-items: center
  padding: 10px
  width: 100%
  z-index: 4
  +tr
  nav
    & a
      font-size: 16px
      line-height: 19px
      text-align: right
      color: #FFFFFF
      margin-right: 90px
      & .icon-basket
        fill: $white
      &:hover
        color: #CBA550
      &:first-child
        color: #CBA550
        &:hover
          color: $white
      &.nav-link
        +r(1199)
          display: none
    & .menu-toggle
      opacity: 0
      +r(1199)
        opacity: 1
        position: absolute
        right: 5%
        border: none
        background-color: transparent
        padding: 0
      & span
        height: 3px
        display: block
        background-color: #ffffff
        width: 30px
      & span + span
        margin-top: 4px
      & .menu-toggle:focus
        outline: none
      & .menu-toggle:hover span
        background-color: #232323
  & .logo
    display: block
    text-align: center
    margin-bottom: 25px

.menu
  position: fixed
  right: -256px
  height: 100vh
  width: 256px
  background-color: #232323
  padding: 15px
  transition: 0.6s
  z-index: 99
  & a
    display: block
    font-weight: 700
    font-size: 20px
    margin: 15px 0
    line-height: 87.27%
    color: #5a5a5a
    &:hover
      color: #a1a1a1
    & .icon-close
      margin: 0
      fill: #5a5a5a
      &:hover
        fill: #a1a1a1
.menu-bg
  background-color: rgba(0, 0, 0, 0.43)
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 99
  display: none
.menu.is-active
  position: fixed
  right: 0
  height: 100vh
  width: 256px
  background-color: #232323
  padding: 20px
  z-index: 99

.header-fixed
  position: fixed
  top: 0
  left: 0
  align-items: center
  background-color: $black
  z-index: 6
  width: 100%
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7)
.header-fixed .logo
  display: none