.icon-arrow {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-feather {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-number {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-rabbit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
