section.home-about
    .container
        .row
            .col-md-5
                img(src="../img/aleksa-ph.png", alt="aleksa-photo")
            .col-md-5
                h2 От создателя бренда
                h2 От создателя бренда
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper tortor aliquam, nec et sagittis facilisis vel, semper. Non turpis enim eu nullam. Mi vulputate sed pharetra nec tempor urna. Donec dui, orci tincidunt volutpat. Consectetur aliquam velit augue aliquam. Eu, leo, sit integer viverra diam ultrices potenti. Auctor aliquet sem mauris gravida enim. Neque, mollis risus nunc placerat morbi felis dis augue nulla. Sodales pellentesque euismod tristique porta morbi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper tortor aliquam, nec et sagittis facilisis vel, semper. Non turpis enim eu nullam. Mi vulputate sed pharetra nec tempor urna. Donec dui, orci tincidunt volutpat. Consectetur aliquam velit augue aliquam. Eu, leo, sit integer viverra diam ultrices potenti. Auctor aliquet sem mauris gravida enim. Neque, mollis risus nunc placerat morbi felis dis augue nulla. Sodales pellentesque euismod tristique porta morbi.