section.home-advantages
    .container
        h2 Почему Aleksa Gold
        .text-container
            p Сделай подарок своим волосам
            p Сделай заказ сейчас же и получи порцию витаминов для волос уже завтра!
        a.btn-secondary(href="#") Заказать
        .btn-next__container
            p Смотри больше
            +icon("arrow")

        .swiper-container
            .swiper-wrapper
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
                .swiper-slide Slide 4
            .swiper-pagination

        