section.home-advantages#advantages
    .container
        .home-advantages__content
            .decor-1
            .decor-2
            .home-advantages__text
                h2 Почему Aleksa Gold 
                div
                    p Сделай подарок своим волосам
                    p Сделай заказ сейчас же и получи порцию витаминов для волос уже завтра!
                    a.btn-secondary.hidden-xs(href="#shop") Заказать
        .swiper-container.swiper-container-advantages
            .swiper-wrapper
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/feather.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/number.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/star.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/rabbit.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/rabbit.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        img(src="img/rabbit.svg", alt="")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
            .swiper-pagination
        .home-advantages__content-bottom
            a.btn-secondary.hidden-sm.hidden-md(href="#shop") Заказать
            .btn-next__container
                a(href="#gallery")
                    p Смотри больше
                    +icon("arrow")