section.home-advantages#advantages
    .container
        h2 Почему Aleksa Gold
        .home-advantages__text
            p Сделай подарок своим волосам
            p Сделай заказ сейчас же и получи порцию витаминов для волос уже завтра!
        a.btn-secondary(href="#shop") Заказать
        .btn-next__container
            a(href="#gallery")
                p Смотри больше
                +icon("arrow")
        .swiper-container.swiper-container-advantages
            .swiper-wrapper
                .swiper-slide
                    .home-advantages__slide
                        +icon("feather")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        +icon("number")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        +icon("star")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
                .swiper-slide
                    .home-advantages__slide
                        +icon("rabbit")
                        h3 Легкая текстура для всех типов волос
                        p Сюда можно будет вставить какой-то дополнительный текст с описанием
            .swiper-pagination