section.home-gallery
    .container
        h2 Галерея
        .text-container
            p Окунись в мир красоты и будь частью AleksaGold - фото продукции, производство и вся жизнь бренда в одном месте.
            a.social(href="#")
                +icon("instagram")
                span Instagram
            a.social(href="#")
                +icon("facebook")
                span Facebook
        .gallery-container
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .slide-area
                            img(src="img/slider-img-1.png" alt="Slider image 1.")
                            img(src="img/slider-img-2.png" alt="Slider image 2.")
                            img(src="img/slider-img-3.png" alt="Slider image 3.")
                            img(src="img/slider-img-4.png" alt="Slider image 4.")
                    .swiper-slide
                        .slide-area
                            img(src="img/slider-img-1.png" alt="Slider image 1.")
                            img(src="img/slider-img-2.png" alt="Slider image 2.")
                            img(src="img/slider-img-3.png" alt="Slider image 3.")
                            img(src="img/slider-img-4.png" alt="Slider image 4.")
                .swiper-pagination