section.home-gallery#gallery
    .container
        .home-gallery__decor
            .row
                .col-md-4
                    h2 Галерея
                    .home-gallery__text
                        p Окунись в мир красоты и будь частью AleksaGold - фото продукции, производство и вся жизнь бренда в одном месте.
                        a.social(href="#")
                            +icon("instagram")
                            span Instagram
                        a.social(href="#")
                            +icon("facebook")
                            span Facebook
                .col-md-7.offset-md-1
                    .home-gallery__container
                        .swiper-container.swiper-container-gallery
                            .swiper-wrapper
                                .swiper-slide
                                    .home-gallery__row
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-1.png" alt="Slider image 1.")
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-3.png" alt="Slider image 3.")
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-2.png" alt="Slider image 2.")
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-4.png" alt="Slider image 4.")
                                .swiper-slide
                                    .home-gallery__row
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-1.png" alt="Slider image 1.")
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-3.png" alt="Slider image 3.")
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-2.png" alt="Slider image 2.")
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-4.png" alt="Slider image 4.")
                                .swiper-slide
                                    .home-gallery__row
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-1.png" alt="Slider image 1.")
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-3.png" alt="Slider image 3.")
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-2.png" alt="Slider image 2.")
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-4.png" alt="Slider image 4.")
                                .swiper-slide
                                    .home-gallery__row
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-1.png" alt="Slider image 1.")
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-3.png" alt="Slider image 3.")
                                        .home-gallery__column
                                            .home-gallery__img.home-gallery__img-secondary
                                                img(src="img/slider-img-2.png" alt="Slider image 2.")
                                            .home-gallery__img.home-gallery__img-primary
                                                img(src="img/slider-img-4.png" alt="Slider image 4.")
                            .swiper-pagination
                            .swiper-button-next.swiper-shares-gallery