section.home-gallery
    .container
        h2 Галерея
        .text-container
            p Окунись в мир красоты и будь частью AleksaGold - фото продукции, производство и вся жизнь бренда в одном месте.
            a.social(href="#")
                +icon("instagram")
                span Instagram
            a.social(href="#")
                +icon("facebook")
                span Facebook