section.home-intro
    .container
        h1 Заголовок
        h2 Здесь какой-то подзаголовок
        a(href="#").btn-primary Кнопка
        .btn-next
            p Листай дальше
            img(src="../../img/intro.png", alt="intro")