section.home-intro#intro
    .container
        .home-intro__content
            .home-intro__heading.nav-links
                h1 Заголовок
                h2 Здесь какой-то подзаголовок
                a(href="#shop").btn-primary Заказать
                .btn-next
                    a(href="#advantages")
                        p Листай дальше
                        +icon("arrow")
            .intro__img-container
                img(src="img/intro.png", alt="intro", data-depth="0.4")