section.home-intro#intro
    .container
        .home-intro__content
            .h2-container
              h1 Заголовок
            .h2-container
              h2 Здесь какой-то подзаголовок
            a(href="#").btn-primary Кнопка
            .btn-next
                a(href="#advantages")
                    p Листай дальше
                    +icon("arrow")
        img(src="img/intro.png", alt="intro")