section.home-partners
    .container
        .heading-container
            h2 Партнерская программа
        .text-container
            p AleksaGold предлагает тебе стать представителем бренд и поучавствовать партнерской программе на очень выгодных условиях!
            p Чтобы стать участником программы заполни форму.
        .form
            h2 Заполни форму
            input(type="text" name="firstname" placeholder="Имя")
            input(type="text" name="lastname" placeholder="Фамилия")
            input(type="tel" name="phone" placeholder="Телефон")
            input(type="email" name="email" placeholder="email@example.com")
            a.btn-secondary(href="#") Стать партнером
        .logo-container
            p Aleksa Gold