section.home-partners#partners
    .container
        .row.align-items-center
            .col-md-3
                .heading-container
                    h2 Партнерская программа
                .text-container
                    p AleksaGold предлагает тебе стать представителем бренд и поучавствовать партнерской программе на очень выгодных условиях!
                    p Чтобы стать участником программы заполни форму.
            .col-md-6.col-sm-12
                .form
                    h2 Заполни форму
                    input(type="text" name="firstname" placeholder="Имя" class="ntSaveForms" value="")
                    input(type="text" name="lastname" placeholder="Фамилия" class="ntSaveForms" value="")
                    input(type="tel" name="phone" placeholder="Телефон" class="ntSaveForms" value="")
                    input(type="email" name="email" placeholder="email@example.com" class="ntSaveForms" value="")
                    button.btn-secondary.ntSaveFormsSubmit(href="#") Стать партнером