section.home-shop#shop
    .container
        h2 Магазин
        .text-container
            p Понравившийся товар попадает в корзину, после чего можете переходить к оформлениюю.
        .row
            .col-lg-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-lg-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-lg-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
        .row
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
        .row
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
        .row
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
            .col-md-4
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 250 грн
        .order
            p В корзине
                span.order__items 2
                | товара на сумму
                span.order__price 500
                | грн
            a.btn-secondary(href="#pop-up" rel="modal:open") Оформить заказ