section.home-shop#shop
    .container
        h2 Магазин
        .text-container
            p Понравившийся товар попадает в корзину, после чего можете переходить к оформлению.
        .row
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                            a(href="#").open
                                +icon("arrow")
                        .product-description__pop-up
                            h3 Aleksa Spray
                                a(href="#")
                                    +icon("close")
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eveniet dolorem porro officia at exercitationem reiciendis commodi impedit dolore eius sint, ex maiores necessitatibus itaque illum facere iusto, nostrum expedita.
                            h4 Назначение:
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum reprehenderit labore nihil cupiditate eius a aperiam, maxime id. Voluptatibus, ipsam. Officiis fugit dolore, rem molestias nemo aspernatur distinctio quas perspiciatis.
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 
                                div 150
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa
                        p Кератиновый спрей
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный). Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 400
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span 
                                div 250 
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
            .col-xl-4.col-md-6
                .product-card
                    img(src="img/small-jar.png", alt="Small jar.")
                    .product-description
                        h3 Aleksa Spray
                        p Кератиновый спрей для волос с термозащитой (универсальный)
                        .card-bottom
                            a.btn-product(href="#") В корзину
                                +icon("basket")
                            span
                                div 250
                                | грн
        .order
            p В корзине
                span.order__items 0
                | товара на сумму
                span.order__price 0
                | грн
            a.btn-secondary(href="#pop-up" rel="modal:open") Оформить заказ